course-info.yaml

# __init__.py
# task.md
# task-info.yaml
# r_ejercicio.py

Clase01/lesson-info.yaml

Clase01/Presentación del Curso/__init__.py
Clase01/Presentación del Curso/task.md
Clase01/Presentación del Curso/task-info.yaml
Clase01/Presentación del Curso/r_ejercicio.py

Clase01/Comentarios/
Clase01/Comentarios/__init__.py
Clase01/Comentarios/task.md
Clase01/Comentarios/ask-info.yaml

Clase01/Tipo de Datos Primitivos/__init__.py
Clase01/Tipo de Datos Primitivos/task.md
Clase01/Tipo de Datos Primitivos/task-info.yaml
Clase01/Tipo de Datos Primitivos/r_ejercicio.py

Clase01/Variables/__init__.py
Clase01/Variables/task.md
Clase01/Variables/task-info.yaml
Clase01/Variables/r_ejercicio.py